footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section {
  margin: 20px;
}

.media-icons {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
}